@use "../styles/theme.scss" as *;
@use "../styles/styles.scss" as *;

body {
    background-color: rgb(var(--color-white) / var(--tw-bg-opacity));
}

@font-face {
    font-family: "BwGradual, sans-serif";
    // src: url('../assets/fonts/BwGradual-Bold.825cca.woff2') format('woff2'),
    //     url('../assets/fonts/BwGradual-Medium.3e427b.woff2') format('woff2'),
    // url('../assets/fonts/BwGradual-Regular.028857.woff2') format('woff2');
    src: url('../assets/fonts/BwGradual-Regular.028857.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body:not(.wp-admin) ::selection {
    background-color: rgb(var(--color-black) / 1);
    color: rgb(var(--color-white) / 1);
}