* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BwGradual, sans-serif";
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* .container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
} */
/* ::-moz-selection {
  color: add your color;
  background: add your color;
}
::selection {
  color: add your color;
  background: add your color;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: add your color;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: add your color;
} */
